<div class="header-container">
    <div class="image-description flex justify-center items-center bg-fixed bg-cover bg-parallax">
        <div class="text-container h-96 flex flex-wrap justify-center items-center w-2/3">
            <div class="text-cube flex flex-col w-3/5">
            <p class="text-9xl text-red-500 font-imperial">Alden </p>
            <p class="text-9xl text-red-500 font-cormorant flex justify-center">& </p>
            <p class="text-left text-9xl text-red-500 font-imperial text-right"> Maine</p>
        </div>
        </div>
        

    </div>
    
    

</div>
