<div class="how-to-go">
    <div class="container">
         <div class="title">
            <p>How to Go?</p>
         </div>
         <div class="description">
            <p>Dont worry, we got you. just click the icon and it will help you to need to worry of getting lost. </p>
         </div>
         <div class="icon-container">
         <div class="icons " *ngFor="let i of logo">
            <img [src]="i.image"/>
         </div>
         </div>
         
    </div>
    <img src="../../assets/image/png/mapa.png"/>
</div>