<div class="venue-container">
    <div class="heading">
        <p class="heading">Venue</p>
        <p class="heading-date">10 . 20 . 2023</p>
        <p class="heading-time">10:00 PM</p>
    </div>
    <div class="venue-body">
        <p class="venue-location">
            Shanrila Hotel
        </p>
        <p class="venue-location">
            30th Street corner 5th Avenue, Bonifacio Global City, Taguig City, Philippines
        </p>
    </div>
    <div class="venue-carousel">

    </div>
    <span class="countdown font-mono text-2xl flex  justify-center items-center">
        <span style="--value:10;"></span>h
        <span style="--value:24;"></span>m
        <span style="--value:52;"></span>s
      </span>
</div>